.App {
    padding: 5%;
    text-align: center;
    font-size: 16px;
  }
  
  .party-popper {
    width: 325px;
    height: 440px;
  }
  
  .fade {
    animation-name: fade-in;
    animation-duration: 3s;
  }
  
  .age-stats {
    opacity: 100;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  
  .btn {
    margin: 3%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
  }
  
  .control {
    width: 280px;
    margin: 0 auto;
    float: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }